@font-face {
    font-family: 'Constantia';
    src: local('Constantia.ttf');
}

@font-face {
    font-family: 'CenturyOldStyle';
    src: local('CenturyOldStyleStd-Regular.ttf');
}

.root {
    -fx-background-color: #A7D3F5;
}

/* Header */
.label {
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
}

/* Score label */
#scoreLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #0066cc;
}

/* Timer label */
#timerLabel {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #0066cc;
}

/* Status message */
#statusLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #008000;
}

/* Return button */
#returnBtn {
    -fx-graphic: url("Back_arrow_button.png");
    -fx-background-color: transparent;
}

/* Button styling */
.button1 {
    -fx-font-size: 72px;
    -fx-padding: 10 20;
    -fx-background-color: #B8E6DF;
    -fx-text-fill: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: Constantia;
}

.button1:hover {
    -fx-background-color: #6EC6C5;
}

.button2 {
    -fx-font-size: 14px;
    -fx-background-color: #B8E6DF;
    -fx-text-fill: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: CenturyOldStyle;
}

.button2:hover {
    -fx-background-color: #6EC6C5;
}

.radio-button {
    -fx-font-size: 14px;
    fx-background-color: #B8E6DF;
    -fx-text-fill: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: CenturyOldStyle;
}

/* Text field */
.text-field {
    -fx-font-size: 14px;
    -fx-font-family: CenturyOldStyle;
    -fx-background-color: #F2F4F7;
}

.progress-bar > .bar {
    -fx-padding: 10px;
}

.progress-bar {
    -fx-pref-width: 220;
    -fx-pref-height: 40px;
}

.text {
    -fx-font-size: 14px;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}